/* SimpleNavStyle.css */
#simple-logo {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin-top: -150px;
}

.checkout-navbar {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
